<div class='container'>
  <div class=“row”>
    <div class='mx-auto col-lg-6'>

      <h3 class="mt-4"><strong>コメント通報一覧</strong></h3><br>
      <table class="table">
        <thead>
          <tr>
            <th>通報ID</th>
            <th>会員名</th>
            <th>通報者</th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= flash[:notice] %>
          <% @comment_reports.each do |comment_report| %>
            <tr>
              <td>
                <%= link_to comment_report.id, admin_comment_report_path(comment_report) %>
              </td>
              <td>
                <%= comment_report.comment_reported.name %>
              </td>
              <td>
                <%= comment_report.comment_reporter.name %>
              </td>
              <td>
                <%= comment_report.comment_report_status_i18n %>
              </td>
              <td>
                <%= link_to "削除", admin_comment_report_path(comment_report), method: :delete %>
              </td>
            </tr>
          <% end %>
        </tbody>
     </table>
    </div>
  </div>
</div>