<table class='table'>
  <tr>
    <th>
      <div class="user-profile-image text-center">
        <%= image_tag user.get_profile_image(100,100) %>
      </div>
    </th>
    <th>
      <div class="mt-2">
        <%=link_to favorites_public_user_path(user), class: "btn btn-sm btn-outline-info" do %>
          <i class="fas fa-rocket"></i>
        <% end %>
      </div>
      <div class="mt-2">
        <% if user.id == current_user.id %>
        <% if current_user.name != "guestuser" %>
          <%= link_to edit_public_user_path(user), class: "btn btn-sm btn-outline-warning" do %>
            <i class="fas fa-user-edit"></i>
          <% end %>
        <% end %>
        <% end %>
      </div>
    </th>
  </tr>
  <tr>
  	<th class="text-center">User Name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <td class= "text-center" >
      <% if current_user.name != "guestuser" %>
        <%# if @user != current_user %>
          <%= link_to "ユーザーを通報", new_public_user_report_path(user), class: "btn btn-danger" %>
        <%# end %>
      <% end %>
    </td>
  </tr>
</table>

