<table class='table'>
  <tr>
    <th>
      <div class="user-profile-image">
        <%= image_tag user.get_profile_image(100,100) %>
      </div>
      <div class= "text-right">
        <%=link_to favorites_public_user_path(user), class: "btn btn-outline-info" do %>
          <i class="fas fa-rocket"></i>
        <% end %>
      </div>
      </br>
      <div class= "text-right">
        <% if current_user.name != "guestuser" %>
          <%= link_to edit_public_user_path(user), class: "btn btn-outline-warning" do %>
          <i class="fas fa-user-edit"></i>
          <% end %>
        <% end %>
      </div>

    </th>
    <td></td>
  </tr>
  <tr>
  	<th>User Name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>

    </th>
    <td>
      <% if current_user.name != "guestuser" %>
      <% if @user != current_user %>
        <%= link_to "ユーザーを通報", new_public_user_report_path(user), class: "btn btn-danger" %>
      <% end %>
      <% end %>

    </td>
  </tr>
</table>

