<!DOCTYPE html>
<html>
  <head>
    <title>TradersSuccess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body>
    <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark color" >
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

        </div>
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>



              <li>
                <%= link_to "マイページ", public_user_path(current_user), class: "btn btn-outline-light mr-4" %>
              </li>

              <li>
                <%= link_to "投稿一覧", public_posts_path, class: "btn btn-outline-light mr-4" %>
              </li>

              <li>
                <%= link_to "新規投稿", new_public_post_path, class: "btn btn-outline-light mr-4" %>
              </li>

              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-light mr-2" %>
              </li>

          <%# elsif admin_signed_in? %>

           <li>
             <%#= link_to "商品一覧", admin_items_path, class: "btn btn-outline-light mr-3" %>
           </li>

           <li>
             <%#= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-light mr-3" %>
           </li>

           <li>
             <%#= link_to "注文履歴一覧", admin_path, class: "btn btn-outline-light mr-3" %>
           </li>

           <li>
             <%#= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-light mr-3" %>
           </li>

           <li>
             <%#= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-light mr-2" %>
           </li>

          <% else %>

           <li>
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
           </li>
           <li>
             <%= link_to "投稿一覧", public_posts_path, class: "btn btn-outline-light mr-4" %>
           </li>
           <li>
             <%#= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-light mr-4" %>
           </li>
           <li>
             <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-light mr-2" %>
           </li>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>

    <footer class="color text-dark bg-dark color pt-3 pb-1">
        <p class="text-center"> © Traders Success 2022</p>
    </footer>
  </body>
</html>